* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F7921E;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    padding: 20px;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 15px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.note {
    margin: 20px 0;
    font-size: 1.1rem;
    font-style: italic;
}

a {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}
